<!DOCTYPE html>
<html>
  <head>
  <style>
  body{
    background-color:#00FFFF;
  }
  </style>
    <title>Videorating</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<align=left><%= image_tag("logo/logo.png", width: '100px')%>
 <h3 align=right><%= link_to 'Videos', videos_path %> &emsp;
<%= link_to 'Ratings', ratings_path %> &emsp;
<%= link_to 'Top Ratings', top_rating_path %> &emsp;
<%= link_to current_user.name, user_path(current_user)%>
<%= button_to "Log Out", logout_path, method: :post%><h3>
<hr>
    <%= yield %>

 <h1 align="center">Users reviewing same video!</h1>
  <h1 align="center"> <%= info %> </h1>
  <% @users.each do |u| %>
    <p align=center><%= link_to "#{u.name}", user_path(u) %><br></p>
<% end %> 
<p align="center"><%= image_tag("logo/movies.png", width: '400px')%></p>
</html>

  